topmagd_data_bin filter=lfs diff=lfs merge=lfs -text
topmagd_data_raw filter=lfs diff=lfs merge=lfs -text
checkpoints filter=lfs diff=lfs merge=lfs -text
checkpoints/checkpoint_last_musicbert_small.pt filter=lfs diff=lfs merge=lfs -text
